body {
    background-color: beige;
}

.tela-login {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0,0.8);
    max-width: max-content;
    max-height: max-content;
    padding: 3%;
    margin-top: 10%;
    margin-left: 40%;
    text-align: center;
}

.tela-login h1 {
    font-size: 42px;
    color: white;
    padding-bottom: 8%;
    padding-top: 2%;
}

.tela-login input {
    width: 200px;
    font-size: 14px;
    height: 25px;
    border-color: rgb(192, 170, 221);
    border-radius: 7px;
}

.tela-login button {
    font-size: 16px;
    height: 35px;
    width: 150px;
    color: white;
    background-color: rgb(153, 163, 245);
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: white;
    color: black;
}